
.background-container {
 width: 100%;
 height: 100%;
 text-align: center;
}

img {
  width: 1200px;
  height: 650px;
}

.text {
  width: 100%;
  top: 240px;
  position: absolute;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.text h1 {
  font-size: 62pt;
  font-weight: 300;
  color: #3d3d3d;
}

.text h4 {
  color: #3d3d3d;
  font-size: 16pt;
  font-weight: 400;
}